alabaster==1.0.0
attrs==26.1.0
babel==2.18.0
backports.zstd==1.5.0
Brotli==1.2.0
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
docutils==0.22.4
editables==0.6
enscons==0.30.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.13
imagesize==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.3
packaging==26.2
pip==26.1
PsrPopPySuper==1.0.0
Pygments==2.20.0
PySocks==1.7.1
pytoml==0.1.21
requests==2.33.1
roman-numerals==4.1.0
scipy==1.17.1
SCons==4.10.1
setuptools==82.0.1
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
toml==0.10.2
urllib3==2.6.3
wheel==0.47.0
